<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ModuleToolkit\TableManagerOpenSearch\TableManager\BuildSelectQueryInterface"
                type="ModuleToolkit\TableManagerOpenSearch\TableManager\BuildSelectQuery"/>
    <type name="ModuleToolkit\TableManagerOpenSearch\TableManager\IndexBuilderSearch">
        <arguments>
            <argument name="buildSelectQuery" xsi:type="object">ModuleToolkit\TableManagerOpenSearch\TableManager\BuildSelectQuery</argument>
            <argument name="indexResponseResult" xsi:type="object">ModuleToolkit\TableManagerOpenSearch\TableManager\ResponseResult</argument>
        </arguments>
    </type>
</config>
